.btn--orange,
.btn--orange {
  color: #fff;
  background-color: #7691dd;
  line-height:20px;
}
.btn--orange:hover,
.btn--orange:hover {
  color: #fff;
  background: #7691dd;
  line-height:20px;
}
.btn--radius {
   border-radius: 100vh;
   line-height:20px;
}

.bbtn--orange,
.bbtn--orange {
  color: #fff;
  background-color: #7691dd;
  line-height:20px;
}
.bbtn--orange:hover,
.bbtn--orange:hover {
  color: #fff;
  background: #7691dd;
  line-height:20px;
}
.bbtn--radius {
   border-radius: 100vh;
   line-height:20px;
}

div.logmy{
  transform: translateY(+50%);
  -webkit-transform: translateY(+50%);
  -ms-transform: translateY(+50%);
}





body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: 
      linear-gradient(150deg, 
        #7df7fda0, 
        #3bb4ec60 30%, 
        #80f1f760 50%, 
        #00f3ffA0), 
      image-url("yamasora.jpg");
    background-repeat: no-repeat;
    background-position: 60%;
    animation: move 50s infinite both;
    right:1px;
    
  }
  @keyframes move{
    0% {
      background-size:100% auto;
    }
    50% {
      background-size:140% auto;
    }
    100% {
      background-size:100% auto;
    }
  }

  
  
  
  

main{
    height: 500px;
    width: 50%;
    margin: auto;
    margin-top: 0px;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
        Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
.block{
   width: 450px;
   height: 450px;
   border-radius: 50%;
   background-color: rgb(245, 109, 109);
   margin: 10px auto;

   position: absolute;
   top: 80px;
   left: 30%;
}


.blackBox{
   width: 450px;
   height: 450px;
    position: absolute;
    font-size: 50px;
    text-align: center;
    top: 80px;
    left: 0%;   
}

h1 {
  color: #505050;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 2.0;/*行高*/
  background: #dbebf8;/*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
 }

h1:before {
  content: '●';
  color: white;
  margin-right: 3px;
}


body h1{
  height: 50px;
  width: 250px;
  margin: auto;

  margin-top: 10px;
  position: absolute;
  top: 20px;
  right:20px;
}

div.manages_container{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(+50%);
    -webkit-transform: translateY(+50%);
    -ms-transform: translateY(+50%);
}


body.manages_container{
  height: 50px;
  width: 300px;

  margin-top: 10px;
  position: absolute;
  top: 80px;
  right:20px;
}

.timer{
    background-color: rgb(92, 83, 212);
    border: solid 3px rgb(92, 83, 212);
    border-radius: 10px;
    color: #66FF00;
    font-size: 50px;
}

#text{
    color: #66FF00;
    font-size: 30px;
}
button{
    border-radius: 100px;
}

.start{
    color: #f9faf8;
    background-color: black;
    font-size: 30px;
    padding: 0 20px;
    margin-right: 20px
}

.reset{
    color: #f9faf8;
    background-color: black;
    font-size: 30px;
    padding: 0 10px;
}

.changeColor{
    width: 100px;
    height: 100px;
    border-radius:100px ;
    background-color: black;
    position: relative;
    bottom: -29px;
    right: 6px;
}

.boderColor{
    width: 50px;
    height: 50px;
    border-radius:50px ;
    border:10px solid #66FF00;
    margin: auto;
    background-color: black ;
}

.active{
    background-color:#222222;
    color: rgb(250, 39, 39);
}

.aquaColor{
    color: aqua;
}

.aquaBoder{
    border: 10px solid aqua;
}


/*hello_index.html*/
.entrance{
    width: 490px;
    color: #f9faf8;
    background-color: rgb(75, 198, 214);
    font-size: 100px;
    padding: 0 10px;
}
.hello{
  height: 100px;
  width: 400px;
  font-size: 40px;
  margin-top: 10px;
  position: absolute;
  top: 200px;
  left:35%;
}

.contents{
  height: 100px;
  width: 400px;
  font-size: 20px;
  margin-top: 10px;
  position: absolute;
  top: 150px;
  left:15%;
}

.contents_index{
  height: 100px;
  width: 580px;
  font-size: 19px;
  margin-top: 10px;
  position: absolute;
  top: 150px;
  left:15%;
}

h3{
  height: 100px;
  width: 400px;
  font-size: 35px;
  margin-top: 10px;
  position: absolute;
  top: 100px;
  left:12%;
}